.nav {
    // padding: 3rem 4rem;

    h1 {
        font-size: 3.2rem;
        color: rgb(80, 80, 80);
    }

    .menu {

        .close-nav {
            display: none;
        }

        .nav-links {
            width: 500px;
        }

    }

    .navigation-mobile {
        padding: 1.8rem 2rem;

        .toggle {
            flex: 2;
        }

        .icons-mobile {
            flex: 1;
        }
    }
}