.nav {
    // padding: 3rem 4rem;
    padding: 2rem;

    @include breakpoint-up(large) {
        padding: 3rem 4rem;
    }

    .logo {
        font-size: 2.5rem;
        color: rgb(80, 80, 80);
        flex: 2;
    }

    .nav-links {
        width: 150px;

    }

    form {


        input {
            margin-right: 5rem;
            padding: 0rem 1rem;
            width: 350px;
            height: 30px;
            border-radius: 10px;
            border: none;
            background: rgb(231, 231, 231);
            background-image: url();
        }

    }

    .navigation-mobile {
        // padding: 1.8rem 2rem;

        .toggle {
            flex: 2;
        }

        .icons-mobile {
            flex: 1;

            i {
                font-size: 2rem;
            }
        }
    }
}