#clothes-container {
    position: relative;

}

.filter-toggle,
.sort-toggle {
    display: none;
    position: absolute;
    width: 190px;
    background: #fff;

    li {
        padding: 1.5rem;
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.filter-toggle {
    top: 60px;
    right: 1rem;
    text-align: right;
}

.sort-toggle {
    top: 60px;
    left: 1rem;
}

.filter-toggle.open,
.sort-toggle.open {
    display: block;
}

.btns-container {

    .sort-btn p,
    .filter-btn p {
        font-size: 1.7rem;
    }

    i {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

.clothes {
    position: absolute;
    margin: 0rem 1rem;
    flex-wrap: wrap;
    cursor: pointer;

    @include breakpoint-up(large) {
        margin: 0rem;
    }


    .clothes-card {
        width: 190px;
        margin-top: 2rem;


        @include breakpoint-up(large) {
            width: 250px;
        }

        .clothes-photo {
            width: 100%;
            object-fit: cover;
        }

        .clothes-info {
            padding: 1.5rem 0.4rem;

            p {
                font-size: 1.6rem;
                padding-bottom: 0.6rem;
                padding-left: 0.5rem;
            }

            i {
                font-size: 2.8rem;
                padding-right: 0.5rem;
                cursor: pointer;
            }
        }
    }
}