#clothes-container {
    position: relative;
    max-width: 1240px;
    margin: auto;
}

.filter-toggle,
.sort-toggle {
    display: none;
    position: absolute;
    width: 190px;
    background: #fff;
    // padding: 1rem;

    li {
        padding: 1.5rem;
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.filter-toggle {
    top: 50px;
    right: 1rem;
    text-align: right;
}

.sort-toggle {
    top: 50px;
    left: 1rem;
}

.filter-toggle.open,
.sort-toggle.open {
    display: block;
    z-index: 99;
}

.btns-container {
    padding: 1rem 2rem;

    .sort-btn p,
    .filter-btn p {
        font-size: 1.7rem;
    }

    i {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

.clothes {
    // padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .clothes-card {
        width: 48%;
        flex: 1 0 43%;
        margin: 1rem;

        .clothes-photo {
            width: 100%;
            object-fit: cover;
        }

        .clothes-info {
            padding: 1rem 0.6rem 0rem;
        }

        .clothes-text {
            p {
                font-size: 1.6rem;
            }
        }

        .fas.fa-heart {
            color: rgb(201, 0, 46);
        }
    }
}