#clothes-container {
    position: relative;
    max-width: 1240px;
    margin: auto;
}

.filter-toggle,
.sort-toggle {
    display: none;
    position: absolute;
    width: 190px;
    background: #fff;
    // padding: 1rem;

    li {
        padding: 1.5rem;
        font-size: 1.6rem;
        cursor: pointer;
    }
}

.filter-toggle {
    top: 50px;
    right: 1rem;
    text-align: right;
}

.sort-toggle {
    top: 50px;
    left: 1rem;
}

.filter-toggle.open,
.sort-toggle.open {
    display: block;
    z-index: 99;
}

.btns-container {
    padding: 1rem 2rem;

    .sort-btn p,
    .filter-btn p {
        font-size: 1.7rem;
    }

    i {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

.clothes {
    // padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .clothes-card {
        position: relative;
        cursor: pointer;
        width: 48%;
        flex: 1 0 43%;
        margin: 1rem;


        &:hover {
            .overlay {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


        @include breakpoint-up(medium) {
            width: 30%;
            flex: 1 0 30%;
        }

        @include breakpoint-up(large) {
            width: 20%;
            flex: 1 0 20%;
        }

        .clothes-photo {
            width: 100%;
            object-fit: cover;
        }

        .clothes-info {
            padding: 1rem 0.6rem 0rem;
        }

        .clothes-text {
            p {
                font-size: 1.6rem;
            }
        }

        .fas.fa-heart {
            color: rgb(201, 0, 46);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            display: none;
            transition: background 1s ease-in-out;

            .details-btn {
                background: rgb(31, 31, 31);
                padding: 1rem 4rem;
                border-radius: 5px;

                a {
                    font-size: 2.2rem;
                    color: rgb(196, 196, 196);
                }
            }


        }


    }
}