*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

h1,
h2,
h3 {
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(80, 80, 80);
}

i {
    font-size: 2.4rem;
    color: rgb(80, 80, 80);
    cursor: pointer;
}

// container

.container {
    max-width: 1240px;
    margin: auto;
    padding: 2rem 2rem;
}

// flexbox classes

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}


// Visibility

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}